/*START*/
html{
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
    height: max-content;
   
    margin: 0;
}
NAV{
    height: 90px;
    width: 100%;
}
.container{
    width: 86%;
    margin: 0px auto;
}
.main_wrapper{
    margin: 0;
    max-width: 100%;
}

/*TOP-ADVERTISING*/
.top_advertising_wrapper{
    display: flex;
    height: 155px;
    background-image: url(png/discount_white_bg_last.png);
    background-color: rgb(49, 114, 255);
    background-size: cover;
    background-position: center;
}
.top_advertising_text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.top_btn{
    border: 4px solid white;
    color: white;
    background-color: rgb(49, 114, 255);
}
.top_btn:hover{
    opacity: 0.9;
    background-color: rgb(30, 70, 157);
}

/*USUAL-PRODUCT-WRAPPER*/
.main_content_wrapper{
    background-color: azure;
}
.content_wrapper{
    height: 880px;
    background-color: aquamarine;
}
.product_wrapper{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.product_box{
    width: 220px;
    height: 290px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}
.product_box:hover{
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),inset 10px 10px 15px rgba(70, 70, 70, 0.12); 
    transition: 0.8 ease;
}
.heard_position_right{
    display: flex;
    justify-content: flex-end;
}
.heard_img{
    height: 25px;
}

.heard_img:hover{
    display: block;
    cursor: pointer;
    opacity: 0.5;
}
.product_img{
    width: 100%;
}
.name_product{
    font-size: 20px;
    margin-bottom: 1px;
}
.product_bottom_part{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product_bottom_part.text_wrapper{
    width: 46%;
    display: flex;
    align-items: center;
}
.text_under_title_product{
    font-size: 14px;
    margin: 0;
}
.product-textPrice{
    font-size: 16px;
}
.product_button_buy{
    width: 20%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(53, 134, 254);
    border: 0;
    border-radius: 50%;
    color: white;
    font-size: 40px;
    cursor: pointer;
}
.product_button_buy:hover{
    opacity: 0.9;
    background-color: rgb(42, 96, 177);
}

/*MIDDLE_ADVERTISING*/
.middle_advertising_wrapper{
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.middle_advertising_wrapper{
    background-image: url(png/REDBOX.png);
    background-size: cover;
    background-position: center;
}
.advertising_text{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}
.advertising_title{
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    text-shadow: 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 1px 3px rgba(0,0,0,.3), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15), 2px 2px 2px rgba(206,89,55,0);
}
.advertising_p{
    font-size: 17px;
}
.a_button_to_other_cite{
    text-decoration: none;
}
.add_button{
   cursor: pointer;
   text-decoration: none;
   border-radius: 50%; 
   padding: 15px 25px 15px 25px;
   color: white;
   font-size: 40px;
   font-weight: 900;
   margin-right: 100px;
   width: 100px;
   box-shadow: 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 1px 3px rgba(0,0,0,.3), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15), 2px 2px 2px rgba(206,89,55,0);
}
.middle_btn{
    border: 4px solid white;
    color: white;
    background-color: rgb(203 45 29);
}
.middle_btn:hover{
    opacity: 0.9;
    background-color: rgb(126, 45, 45)
}

/*DISCOUNT_PRODUCT*/
.discount_product_wrapper.container{
    background-color: rgb(255, 249, 240);
}
.double_price{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.old_price{
    text-decoration: line-through;
}
.discount_product_price{
    color: red;
}
.discount_product-textPrice{
    font-size: 14px;
    padding-left: 10px;
}
.discount{
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #ff4a4a;
    border-radius: 5px;
    color: white;
    background-color: #ff4a4a;
    width: max-content;
    margin-right: auto;
    padding: 3px;
}

/*bottom_add*/
.bottom_advertising_wrapper{
    background-image: url(png/discount_white_bg_last.png);
    background-color: #355d35;
    background-size: cover;
    background-position: center;
}
.bottom_add_text_wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bottom_advertising_text{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    font-weight: 700;
}
.bottom_add_left_part{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 10px;
}
.bottom_add_title{
    color: white;
}
.bottom_add_p{
    color: white;
    font-size: 16px;
    font-size: 20px;
    word-spacing: 00.8px;
    font-weight: bold;
    margin-top: 15px;
}
.bottom_add_button{
    font-size: 20px;
    font-weight: bold;
    border: 1px solid rgb(44 138 129);
    border-radius: 10px;
    color: white;
    background-color: rgb(44 138 129);
    box-shadow: 0 3px 0 rgb(96, 96, 96), 0 4px 0 #696969, 0 5px 0 rgb(74, 74, 74), 0 1px 3px rgba(0,0,0,.3), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15), 2px 2px 2px rgba(206,89,55,0);
    padding: 20px;
    width: 600px;
    margin-right: 100px;
}
.bottom_add_button:hover{
    opacity: 0.9;
    cursor: pointer;
    background-color: rgb(34, 104, 97);
    border: 1px solid rgb(34, 104, 97);
    box-shadow: none;
}

/*SCROLL_BUTTON*/
.scroll_to_top_a_wrapper{
    text-decoration: none;
}
.scroll_button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    background-color: #48905b;
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
    cursor: pointer;
    box-shadow: 0 3px 0 rgb(60, 94, 68), 0 4px 0 #37523e, 0 5px 0 rgb(45, 58, 38), 0 1px 3px rgba(0,0,0,.3), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15), 2px 2px 2px rgba(206,89,55,0);
    position: fixed;
    right: 50px;
    bottom: 20px;
    transform: translateY(-50%);
}
.scroll_button:hover{
    opacity: 0.8;
    background-color: #37523e;
    transition: 0.7;
}